@charset "utf-8";
/* CSS Document */
body{
	background-color:#999;
}


aside{
	background-color:#333;
	width:250px;
	height:900px;
	font-size:27px;
	float:left;
	
}

.meny{
	background-color:#999;
	width:250px;
	height:70px;
	text-align:center;
	font-size:28px;
	margin-top:-20px;
}
	
.box1{
	background-color:#666;
	margin-top:30px;
	width:230px;
	height:50px;
	margin-left:10px;
	text-align:center;
}

.box2{
	background-color:#666;
	margin-top:30px;
	width:230px;
	height:50px;
	margin-left:10px;
	text-align:center;
}

.box3{
	background-color:#666;
	margin-top:30px;
	width:230px;
	height:50px;
	margin-left:10px;
	text-align:center;
}

.box4{
	background-color:#666;
	margin-top:30px;
	width:230px;
	height:50px;
	margin-left:10px;
	text-align:center;
}

a:hover{
	text-decoration:underline;
	color:#00F;
	font-weight: bold;
}

a:visited{
	text-decoration:none;
	color:#000;
}
	

header{
	background-color:#F33;
	width:1240px;
	height:180px;
	font-family:"Courier New", Courier, monospace;
}

h1{
	text-align:center;
	font-size:50px;
}

nav{
	background-color:#FC0;
	text-align:left;
	font-size:15px;
	text-align:center;
}

article{
	background-color:#666;
	font-size:26px;
	color:#FFF;
	width:990px;
	height:900px;
	float:left
}

figcaption{
	font-size:18px;
}

#litenbox{
	background-color:#000;
}



	

	

